* {
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    font-family: "Open Sans", sans-serif;
}

header {
    text-align: center;
    line-height: 10vh;
    height: 10vh;
    background-color: slategray;
}

h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.1em;
    margin: 0 0 .5em -.25em;
}

main {
    display: flex;
    flex-flow: row nowrap;
    max-height: 85vh;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;

}

.farmRow {
    height: 22.5%;
    width: 100%;

    display: flex;
}

.plantImg {
    margin: 0 auto;
    height: 60%;
} 

.plantImg img {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}

.plot {
    min-width: 11%;
    min-height: 100%;
    border: 1px dashed black;
    display: inline-block;
    margin: 0 .75%;
}

.notBought {
    text-align: center;
    position: relative;
    top: 0;
    min-width: 11%;
}

.notBought > div {
    margin: 40% auto;
}

aside {
    width: 20%;
    height:85vh;
    border: 1px dashed black;
    padding: 1% 2%;
}

footer {
    background-color: rgba(20, 20, 20, .95);
    color: #e8e8e8;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    font-size: 1em;
}